<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title> es: vue-boolzapp</title>

</head>
<body>

    <div class="background-color-body" id="app">

        <div class="contenitore-principale container">
            <header class="row">
                <div class="col-4 navchat nome-utente"> 
                    <div class="row ">
                        <div class="col-8">
                            <img src="img/avatar_io.jpg" class="rounded-circle" alt="img profilo">
                            <span> <strong>Nome Utente</strong></span> 
                        </div>
                        <div class="col-4  "> 
                            <i class="bi bi-chat-left-fill icone "></i>
                            <i class="bi bi-chat-left-fill icone "></i>
                            <i class="bi bi-three-dots-vertical icone "></i>
                        </div>
                    </div>
                </div>
                <div class="col-8 navchat destra" > 
                    <div class="row">
                        <div class="col-10 ">
                            <img 
                            :src="contacts[contactActive].avatar" class="rounded-circle " alt="immagine">
                            <span class="nome-utente"> <strong>{{contacts[contactActive].name}}</strong> </span>
                            <p class="ultimo-accesso">Ultimo accesso </p>
                        </div>    
                            <div class="col-2 ">
                                <i class="bi bi-search icone ic-float" ></i>
                                <i class="bi bi-search icone"></i>
                                <i class="bi bi-three-dots-vertical icone" ></i>
                            </div>
                            
                        
                        
                    </div>
                </div>
            </header> 
         
            <div class=" row justify-content-start ">
                <div class="col-4 notifiche"> 
                    <div class="col-12 d-flex align-items-center">
                        <i class="bi bi-bell-slash-fill margin-left-notifiche icone"></i>
                        <div>
                            <span class="align-middle">Ricevi notifiche di nuovi messaggi</span> 
                            <p class="notifiche-desktop align-middle">attiva notifiche desktop</p>
                        </div>
                    </div> 
                </div>   
            </div> 

            <div class="  justify-content-start">
                <div class="col-4 ">  <i class="bi bi-search icone cursor-on"></i><input type="text" id="elencoContatti"class="cerca-contatti"  placeholder="cerca o inizia una nuova chat"> </div>
            </div>   
         
            <!-- lista utenti -->
            <div class=" row justify-content-start " 
                v-for="(contact, i) in contacts"
                :key="i">
                <div  class="col-4 lista-contatti clearfix" id="contatti">    
                    <img :src= "contact.avatar" class="rounded-circle foto-profilo " @click="changeUser(i)" alt="immagine avatar">
                    <span class="" ><strong>{{contact.name}}</strong> </span>                   
                    <span class=" data">{{contact.messages[0].date}}</span> 
                </div>        
            </div>  
            
            <!-- scambio messaggi -->
            <div class="row justify-content-end">
                <div class="col-8 chat-space" >
                    <div class="container">
                        <!-- chat sinistra ricevuta-->
                        <ul class="row justify-content-start ">
                            <li class="col-5 chat-container-sinistra"
                             v-for="(message, i) in contacts[contactActive].messages"
                            :key="i">
                                <p > {{message.text}} </p>
                            </li>
                        </ul>
                    </div>

                    <!-- footer chatbar -->
                    <div class="container " >
                        <div class="row justify-content-start ">
                          
                            <div class="col-10   footer-chat-bar" >
                                <div class="col-1 justify-content-start " >  <i class="bi bi-emoji-smile icone"></i>   </div>
                                    <input  type="text" class="place-holder-messaggio" @click ="addMessage()" placeholder="scrivi un messaggio"  @click ="addMessage()">
                                <div class="col-1 justify-content-end " >    <i class="bi bi-mic-fill icone"></i> </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>


    
        

        
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>